@model IEnumerable<ControlInventarioModel.BitacoraInventario>

<h1>Listado de registros del inventario</h1>
<p>
    <a asp-action="Create">Agregar nuevo registro</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                No. de Gondola
            </th>
            <th>
                Fecha de ingreso
            </th>
            <th>
                Fecha de Modificación
            </th>
            <th>
                Nombre del producto
            </th>
            <th>
                Cantidad Inicial
            </th>
            <th>
                Cantidad Actual
            </th>
            <th>
                Disponibilidad
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.noGondola)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FechaIngreso)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FechaModificacion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NombreProducto)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CantidadInicial)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CantidadActual)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Disponibilidad)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id"><i class="bi bi-pencil"></i></a> |
                    <a asp-action="Details" asp-route-id="@item.Id"><i class="bi bi-info-circle"></i></a> |
                    <a asp-action="Delete" asp-route-id="@item.Id"><i class="bi bi-trash"></i></a>
                </td>
            </tr>
        }
    </tbody>
</table>
